<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fonts</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Antonio&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
  <main style="margin: 0 auto; max-width: 1000px">
    <center>
      <h1><u>Fonts</u></h1>
    </center>
    <h1 style="font-family: 'Ubuntu', sans-serif;">
      Whereas recognition of the inherent dignity
    </h1>
    <h1 style="font-family: 'Antonio', sans-serif;">
      Whereas recognition of the inherent dignity
    </h1>
    <h1 style="font-family: 'Roboto Mono', monospace;">
      Whereas recognition of the inherent dignity
    </h1>
    <h1 style="font-family: 'Playfair Display', serif;">
      Whereas recognition of the inherent dignity
    </h1>
    <h1 style="font-family: 'Josefin Sans', sans-serif;">
      Whereas recognition of the inherent dignity
    </h1>
    <h1 style="font-family: 'Dancing Script', cursive;">
      Whereas recognition of the inherent dignity
    </h1>
  </main>

</body>
</html>