<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Images</title>
  </head>
  <body>
    <main style="margin: 0 auto; max-width: 500px">
      <center>
        <h1><u>Images</u></h1>
      </center>

      <img
        src="https://media.giphy.com/media/g8k9tCcLNR3H9GCuHl/giphy.gif"
        alt="zombie dancing"
        height="200px"
      />

      <img
        src="https://img.freepik.com/premium-vector/zombie-cartoon_61878-268.jpg?w=740"
        height="200px"
      />

      <img
        src="https://img.freepik.com/premium-vector/cartoon-zombie_61878-301.jpg?w=740"
        height="200px"
      />

      <img
        src="https://cdn.dribbble.com/users/2244274/screenshots/6485916/antonbrand_portfolio_58_zombie-creeper.jpg"
        height="200px"
      />

      <img
        src="https://media.giphy.com/media/3o6Mbik6NqugM9hivK/giphy.gif"
        height="200px"
      />

      <img
        src="https://media.giphy.com/media/lOrrVbxU0YSdILhNeW/giphy.gif"
        height="200px"
      />
      <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
           src="https://developers.google.com/static/maps/documentation/android-sdk/images/utility-markercluster.png" width="475" height="951">
    </main>
  </body>
</html>
