
body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}

.btn-xl {
    padding: 50px;
    font-size: 40px;
    border-radius: 10px;
}